{
    "chmod": "0755",
    "directories": [
        "src"
    ],
    "files": [
        "LICENSE",
        "vendor/herrera-io/phar-update/res/schema.json"
    ],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["Tests"],
            "in": "vendor"
        }
    ],
    "main": "inplace",
    "output": "inplace.phar",
    "stub": true,
    "key": "private.key"
}
